# Virtual environments
myenv/
venv/

# Environment variables
*.env
!.env.example

# Cache files
__pycache__/

# documents
documents/
test_docs/

# testing
test_main*.py

# log files
*.log

# incomplete tasks tracker
incomplete_tasks_todo.txt